---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// "Muted and minimal" color definitions
// #06 from https://designschool.canva.com/blog/website-color-schemes/
// Originally from http://www.awwwards.com/best-websites/my-356-days-in-print/
$dusty: #96858F;
$lavendar: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;

// core colors
$text-color:		$lavendar;
$background-color:	$paper;
$brand-color:		$dusty;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "poetry"
;
